.navbar{
    padding: 10px 10px 5px 10px;
    background-image: linear-gradient(to right top, #0e6bc0, #4d6fd5, #7d70e5, #ab6eef, #da67f2);
}

.navbar a{
    text-decoration: none;
    color: var(--color-tab);
    margin-right: 16px;
    font-family: var(--font-category);
    font-size: 18px;
}

a.enabled{
    color:var(--color-tab) !important;
}

a.disabled{
    color:var(--color-tab-disabled) !important;
}