
.btn--delete{
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top:0;
    right: 0;
    height:100%;
    padding-left: 20px;
    color:var(--color-btn-primary);
}

.btn--submit{
    padding: 1px 18px;
    border:none;
    background-color: var(--color-btn-primary);
    border-radius: 0 15px 15px 0px;
    color: var( --color-icon-btn-primary);
    position: relative;
    left: -1px;
    cursor: pointer;
    font-size: 23px;
}

.btn--submit:focus{
    outline: none;
}

span{
    margin: 10px;
}

.todo:nth-child(odd){
    background-color: #f2f2f2;
}

.todo{
    overflow: auto;
    padding: 5px 5px 5px 10px;
    font-family: var(--font-texto);
    color: var(--color-texto);
    font-size: var(--font-size-medium);
    position: relative;
}

.add-todo{
    display: flex;
    padding: 17px 20px 20px 20px;
    border-bottom: 1px solid var(--color-outline-container);
}

.add-todo__input{
    flex-grow: 1;
    padding: 5px 12px;
    border-radius: 15px 0 0 15px;
    border: 1px solid var(--color-outline-container);
    background-color: var(--color-background-input);
    font-family: var(--font-texto);
    font-size: var(--font-size-medium);
}


.add-todo__input:focus{
    outline: none;
}

.message-all-done{
    margin: 10px;
    text-align: center;
    font-family: var(--font-texto);
    color: var(--color-texto);
    font-size: var(--font-size-paragraph);
}